<div id="{id}" class="element-container dragElement" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <div class="checkbox input">
            <div>
                <input id="{id}-ff" class="flowHandlerInput engine-interaction-element input flow" type="radio" />
            </div>
            <div>
                <input id="{id}-f" class="flowChartHandlerInput engine-interaction-element input arg f-print" type="radio" />
            </div>
        </div>
        <div class="value"></div>
        <div class="checkbox output">
            <div>
                <input id="{id}-of" class="flowHandler engine-interaction-element output flow" type="radio" />
            </div>
        </div>
    </div>
</div>