<div id="{id}" class="element-container dragElement flowChartHandlerInput primitive" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <input id="{id}" class="flowHandlerInput lefttop" type="radio" />
        <label id="{id}" class="flowHandlerInput lefttop"></label>
        <input id="{id}" class="flowChartHandlerInput left" type="radio" />
        <label id="{id}" class="flowChartHandlerInput left"></label>
        <input id="{outputID}" class="flowChartHandler right" type="radio" />
        <label id="{outputID}" class="flowChartHandler right"></label>
        <input id="{outputID}" class="flowHandler righttop" type="radio" />
        <label id="{outputID}" class="flowHandler righttop"></label>
    </div>
</div>