<div id="{id}" class="element-container dragElement flowChartHandlerInput primitive" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <input id="{inputID}" class="flowChartHandler left" type="radio" />
        <label for="{inputID}" class="flowChartHandler left"></label>
        <input id="{outputID}" class="flowChartHandler right" type="radio" />
        <label for="{outputID}" class="flowChartHandler right"></label>
    </div>
</div>