<div id="{id}" class="element-container dragElement flowChartHandlerInput primitive" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <input id="{id}" class="flowHandlerInput engine-interaction-element input-flow lefttop" type="radio" />
        <label id="{id}" class="flowHandlerInput lefttop"></label>
        <input id="{id}" class="flowChartHandlerInput engine-interaction-element input-arg left" type="radio" />
        <label id="{id}" class="flowChartHandlerInput left"></label>
        <input id="{outputID}" class="flowChartHandler engine-interaction-element output-flow right" type="radio" />
        <label id="{outputID}" class="flowChartHandler right"></label>
        <input id="{outputID}" class="flowHandler engine-interaction-element output-arg righttop" type="radio" />
        <label id="{outputID}" class="flowHandler righttop"></label>
    </div>
</div>