<div id="{id}" class="element-container dragElement" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <div class="checkbox">
            <div>
                <input id="{id}-m" class="flowChartHandlerInput minuend" type="radio" />
                <label>Minuend</label>
            </div>
            <div>
                <input id="{id}-s" class="flowChartHandlerInput subtrahend" type="radio" />
                <label>Subtrahend</label>
            </div>
        </div>
        <div class="value"></div>
        <div class="checkbox output">
            <div>
                <label>Result</label>
                <input id="{id}-r" class="flowChartHandler" type="radio" />
            </div>
        </div>
    </div>
</div>