<div id="{id}" class="element-container dragElement" style="position:absolute" menu="Element">
    <div class="header">{caption}</div>
    <div class="content">
        <div class="checkbox input">
            <div>
                <input id="{id}-f" class="flowHandlerInput ff-bool" type="radio" />
            </div>
            <div>
                <input id="{id}-f" class="flowChartHandlerInput f-bool" type="radio" />
            </div>
            <div>
                <input id="{id}-s" class="flowChartHandlerInput s-bool" type="radio" />
            </div>
        </div>
        <div class="value"></div>
        <div class="checkbox output">
            <div>
                <input id="{id}-of" class="flowHandler r-bool" type="radio" />
            </div>
            <div>
                <label>Result</label>
                <input id="{id}-r" class="flowChartHandlerBool r-bool" type="radio" />
            </div>
        </div>
    </div>
</div>