@model GCEWWeb.Models.Database.Project

@{
    Layout = null;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>CreateProject</title>
        <style>
            .form {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>

        <div class="form">
            <div class="col-md-4">
                @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input name="RedirectToProject" id="RedirectToProject" type="hidden" value="@(ViewBag.RedirectToProject??false)" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                }
            </div>
            <div>
                <a asp-action="Projects">Back to List</a>
            </div>
        </div>

    </body>
    </html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CreateProject</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/lib/Login_v14/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/Login_v14/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/Login_v14/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-62 p-r-62 p-t-45 p-b-45">
                @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                {
                    <input name="RedirectToProject" id="RedirectToProject" type="hidden" value="@(ViewBag.RedirectToProject??false)" />
                    <label class="login100-form-title p-b-32">
                        Create project
                    </label>

                    <label asp-for="Name" class="txt1 p-b-11">
                        Name
                    </label>
                    <div class="wrap-input100 validate-input m-b-36 alert-validate">
                        <input asp-for="Name" class="input100">
                        <span class="focus-input100"></span>
                        <span class="alert-validate-before" asp-validation-for="Name"></span>
                        <div></div>

                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" value="Create" class="login100-form-btn" />
                        <a asp-action="Projects" style="margin: auto 0 auto auto">Back to List</a>
                    </div>
                    <div>
                    </div>
                }
            </div>

        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>