<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/leftpanel.css" />
        <link rel="stylesheet" href="~/css/workspace.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/css/context-menu-css.css" />
        <link rel="stylesheet" href="~/css/custom-tabs-css.css" />
        <link rel="stylesheet" href="~/css/element-styles.css" />
        <link rel="stylesheet" href="~/lib/toastr/build/toastr.css" />
        <link rel="stylesheet" href="~/lib/patternfly-bootstrap-treeview-master/src/css/bootstrap-treeview.css" />
        <link rel="stylesheet" href="~/css/custom-modal-window.css" />
        <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
        <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="modal-enter-data" class="custom-modal">
        <div class="modal-content">
            <span class="close-modal" modal="modal-enter-data">&times;</span>
            <p id="modal-text-enter"></p>
            <input type="text" id="modal-text-text" />
            <input modal="modal-enter-data" class="close-modal" id="modal-text-btn" type="button" value="Enter" />
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
