.tabs-solution {
    display: flex;
    flex: 1;
    min-height: 30px;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: thin;
}

.tab {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
    border: 1.8px solid;
    font-weight: bold;
}

.third-down-border {
    margin-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}

.third-up-border {
    margin-bottom: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
}

.tabs {
    display: flex;
    min-height: 30px;
    max-height: 30px;
    overflow-x: auto;
    flex-direction: row;
    scrollbar-width: thin;
}

.tab > span {
    font-weight: bold;
    padding-left: 5px;
}

    .tab > span:hover {
        cursor: pointer;
        opacity: 0.5;
    }

.tab:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
    border-color: black;
}

.tabs-header {
    margin-bottom: 5px;
    min-height: 20px;
}

.tab-contents {
    flex: 1;
}

.open-tab {
    background-color: grey;
    color: white;
    border-color: black;
}
