body {
    scrollbar-color: grey white;
}

.window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.second-column {
    padding: 4px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto;
}

.window-in {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.buttons {
    margin: 2px 5px 2px 5px;
}

.btn-tabs {
    padding: 1.5px 8px;
    background-color: white;
    border: 1.2px solid;
    border-color: grey;
}

    .btn-tabs:hover {
        background-color: #a4a4a4;
    }

    .btn-tabs > img {
        height: 15px;
    }

.buttons {
    display: none;
}

.flipped, .flipped span, .flipped div {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}

.space {
    margin-left: auto;
}
