<div class="user-info"></div>
<div class="solution-context"></div>
<div class="tabs">
    <div class="tabs-solution">
        <span class="tab third-up-border">sdfsdfdsfsdfsdf</span>
        <span class="tab third-up-border">Osdfsfsdfsdfsdfne</span>
        <span class="tab third-up-border">Osdfsfsdfs</span>
        <span class="tab third-up-border">Osdfsfsdfs</span>
        <span class="tab third-up-border">One</span>
    </div>
</div>