<div class="tab-contents">
    <div class="tab-content"></div>
    <div class="tab-content"></div>
</div>

<div class="tabs">
    <span class="tab third-up-border">Solution View</span>
    <span class="tab third-up-border">Properties</span>
</div>