<div class="tabs">
    <div class="tabs-solution flipped">
        <div class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf <span>x</span>
        </div>
        <span class="tab third-down-border">
            One
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            One
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>
        <span class="tab third-down-border">
            sdfsdfsdfsdfjksdfjkshdfjkhsdf
            <span>x</span>
        </span>

    </div>
</div>
<div class="text-editor">

</div>